extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
         small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        each cuisine in cuisines
          .col-xs-12.list-group-item
            h4 
              a(href="/cuisine")= cuisine.name
              small &nbsp;
                +outputRating(cuisine.rating)
            p
              cuisine= cuisine.intro
              address= cuisine.address
            
                &nbsp;
    .col-xs-12.col-sm-4 
      p.lead= sidebar
